openapi: 3.1.0
info:
  title: Talaria Book Scanning API
  version: 3.1.0
  description: |
    Talaria backend API for book spine scanning, AI enrichment, and metadata extraction.
    This API provides multipart image upload, Server-Sent Events streaming for real-time progress,
    and cleanup endpoints for job management.
  contact:
    name: Talaria API Support
    url: https://api.oooefam.net

servers:
  - url: https://api.oooefam.net
    description: Production server

paths:
  /v3/jobs/scans:
    post:
      operationId: createScanJob
      summary: Upload book spine image for scanning
      description: |
        Uploads a book spine image and initiates AI-powered scanning workflow.
        Returns a job ID and SSE stream URL for real-time progress updates.
      parameters:
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Unique device identifier (UUID v4 format)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - photos[]
              properties:
                photos[]:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 1
                  maxItems: 5
                  description: Book spine images (JPEG/PNG, max 10MB each)
      responses:
        '202':
          description: Scan job accepted and processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanJobResponse'
        '400':
          description: Invalid request (missing image, invalid format, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '413':
          description: Image too large (exceeds 10MB limit)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /v3/jobs/scans/{jobId}/stream:
    get:
      operationId: streamScanProgress
      summary: Stream real-time scan progress via Server-Sent Events
      description: |
        Returns an SSE stream with real-time updates on scan processing.
        Supports event resumption via Last-Event-ID header for interrupted connections.
        Event types: ping, progress, result, complete, enrichment_degraded, error.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Job ID from createScanJob response
        - name: Last-Event-ID
          in: header
          required: false
          schema:
            type: string
          description: Resume SSE stream from specific event ID (for connection recovery)
      responses:
        '200':
          description: SSE stream established
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-Sent Events stream. Each event has format:
                  event: <type>
                  data: <json>

                  Event types:
                  - ping: Keepalive signal (empty data), sent every 30s to prevent timeout
                  - progress: { message: string } - Processing stage update
                  - result: BookMetadata object with enrichment details
                  - enrichment_degraded: { message: string, severity: 'warning'|'error' } - Partial enrichment success
                  - complete: { books?: BookMetadata[], resultsUrl?: string } - Job finished
                  - error: { message: string, code: string } - Processing failed
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '410':
          description: Job expired or already cleaned up
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /v3/jobs/scans/{jobId}/results:
    get:
      operationId: getScanResults
      summary: Retrieve structured scan results with optional formatting
      description: |
        Returns scan results in structured JSON format.
        Supports lightweight format for bandwidth-constrained clients.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Job ID from createScanJob response
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [full, lite]
            default: full
          description: |
            'full': Complete BookMetadata with coverUrl and confidence
            'lite': Minimal fields (title, author, isbn only)
      responses:
        '200':
          description: Scan results retrieved
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      books:
                        type: array
                        items:
                          $ref: '#/components/schemas/BookMetadata'
                      processingTimeMs:
                        type: integer
                        description: Total processing duration in milliseconds
        '404':
          description: Job not found or results expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '410':
          description: Job expired or already cleaned up
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /v3/jobs/scans/{jobId}/cleanup:
    delete:
      operationId: cleanupScanJob
      summary: Clean up scan job resources
      description: |
        Deletes uploaded image and processing artifacts after job completion.
        Should be called after SSE stream ends (complete or error).
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Job ID to clean up
      responses:
        '204':
          description: Cleanup successful (no content)
        '404':
          description: Job not found or already cleaned up
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal server error during cleanup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

components:
  schemas:
    ScanJobResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          description: Whether the request succeeded
          example: true
        data:
          type: object
          required:
            - jobId
            - sseUrl
          properties:
            jobId:
              type: string
              format: uuid
              description: Unique identifier for this scan job
              example: "123e4567-e89b-12d3-a456-426614174000"
            sseUrl:
              type: string
              format: uri
              description: SSE stream endpoint URL
              example: "https://api.oooefam.net/v3/jobs/scans/123e4567-e89b-12d3-a456-426614174000/stream"
            authToken:
              type: string
              description: Authentication token for WebSocket connections
            statusUrl:
              type: string
              format: uri
              description: Job status polling endpoint

    BookMetadata:
      type: object
      required:
        - title
        - author
        - isbn
      properties:
        title:
          type: string
          description: Book title extracted from spine/AI enrichment
          example: "The Swift Programming Language"
        author:
          type: string
          description: Primary author name
          example: "Apple Inc."
        isbn:
          type: string
          description: ISBN-10 or ISBN-13 identifier
          pattern: '^(?:\d{10}|\d{13})$'
          example: "9780134610993"
        coverUrl:
          type: string
          format: uri
          nullable: true
          description: URL to high-resolution book cover image
          example: "https://covers.openlibrary.org/b/isbn/9780134610993-L.jpg"
        format:
          type: string
          enum: [hardcover, paperback, ebook, audiobook]
          nullable: true
          description: Book format/edition type
        confidence:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          nullable: true
          description: AI confidence score for identification (0.0-1.0)
          example: 0.95
        enrichmentStatus:
          type: string
          enum: [complete, partial, degraded, failed]
          nullable: true
          description: |
            Status of AI enrichment process.
            - complete: All fields populated successfully
            - partial: Some fields enriched, others empty
            - degraded: Enrichment succeeded with reduced confidence
            - failed: Enrichment process failed entirely
          example: "complete"

    SSEProgressEvent:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Human-readable progress message
          enum:
            - "Looking..."
            - "Reading..."
            - "Enriching..."
            - "Finalizing..."
          example: "Reading..."

    SSEResultEvent:
      type: object
      required:
        - title
        - author
        - isbn
      properties:
        title:
          type: string
        author:
          type: string
        isbn:
          type: string
        coverUrl:
          type: string
          format: uri
          nullable: true
        format:
          type: string
          enum: [hardcover, paperback, ebook, audiobook]
          nullable: true
        confidence:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          nullable: true

    SSECompleteEvent:
      type: object
      description: Job completion signal with optional inline results
      properties:
        books:
          type: array
          items:
            $ref: '#/components/schemas/BookMetadata'
          nullable: true
          description: |
            Optional inline results for single-image jobs.
            For multi-image jobs, use resultsUrl to fetch results.
        resultsUrl:
          type: string
          format: uri
          nullable: true
          description: |
            URL to retrieve full results via GET /v3/jobs/scans/{jobId}/results
            Provided when results are too large for SSE inline transmission.
        processingTimeMs:
          type: integer
          nullable: true
          description: Total processing duration in milliseconds

    SSEPingEvent:
      type: object
      description: Keepalive signal sent every 30 seconds to prevent timeout
      properties:
        timestamp:
          type: string
          format: date-time
          nullable: true
          description: Server time when ping was sent

    SSEEnrichmentDegradedEvent:
      type: object
      required:
        - message
        - severity
      properties:
        message:
          type: string
          description: Human-readable description of degradation
          example: "Cover image not available; proceeding with partial metadata"
        severity:
          type: string
          enum: [warning, error]
          description: |
            warning: Enrichment partially successful, app should continue
            error: Enrichment failed, metadata may be incomplete
        failedFields:
          type: array
          items:
            type: string
          nullable: true
          description: List of fields that failed to enrich (coverUrl, format, etc.)
          example: ["coverUrl", "format"]

    SSEErrorEvent:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
          description: Error message describing what went wrong
          example: "Failed to extract text from image"
        code:
          type: string
          enum:
            - "NO_TEXT_DETECTED"
            - "MULTIPLE_BOOKS_DETECTED"
            - "IMAGE_TOO_BLURRY"
            - "UNSUPPORTED_FORMAT"
            - "PROCESSING_TIMEOUT"
            - "NETWORK_ERROR"
            - "ENRICHMENT_FAILED"
          description: Machine-readable error code
          example: "NO_TEXT_DETECTED"
        retryable:
          type: boolean
          nullable: true
          description: Whether the error is retryable
          example: false

    ProblemDetails:
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: |
            URI identifying the problem type (RFC 9457).
            Examples: https://api.oooefam.net/errors/invalid-image
          example: "https://api.oooefam.net/errors/invalid-image"
        title:
          type: string
          description: Short human-readable title
          example: "Invalid Image Format"
        status:
          type: integer
          description: HTTP status code
          example: 400
        detail:
          type: string
          nullable: true
          description: Human-readable explanation
          example: "Uploaded file must be JPEG or PNG format"
        instance:
          type: string
          format: uri
          nullable: true
          description: URI identifying the specific problem occurrence
        code:
          type: string
          nullable: true
          description: Machine-readable error code
          example: "INVALID_IMAGE_FORMAT"
        retryAfter:
          type: integer
          nullable: true
          description: Seconds to wait before retrying (for 429/503 errors)
          example: 60

    ErrorResponse:
      $ref: '#/components/schemas/ProblemDetails'

    RateLimitErrorResponse:
      type: object
      required:
        - error
        - message
        - retryAfter
      properties:
        error:
          type: string
          enum: ["RATE_LIMIT_EXCEEDED"]
          description: Error type
        message:
          type: string
          description: Human-readable rate limit message
          example: "Too many requests. Please try again later."
        retryAfter:
          type: integer
          description: Seconds until retry is allowed
          example: 60
        limit:
          type: integer
          nullable: true
          description: Max requests allowed in time window
          example: 100
        remaining:
          type: integer
          nullable: true
          description: Remaining requests in current window
          example: 0
