# Talaria V3 OpenAPI — committed for deterministic SwiftWing builds
# Source: GET https://api.oooefam.net/v3/openapi.json (live 3.9.0)
# enrichmentStatus on DetectedBook is augmented when missing from the served static spec.
openapi: 3.0.3
info:
  title: Talaria V3 API
  version: 3.9.0
  description: High-speed bookshelf scanning API with Gemini Vision. Async jobs run on Cloudflare Workflows
    (BookScanWorkflow); clients poll job status and results over HTTP (no SSE).
  contact:
    name: Talaria API Support
    url: https://github.com/jukasdrj/talaria/issues
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.oooefam.net
  description: Production
- url: http://localhost:8787
  description: Local development
tags:
- name: Scans
  description: Bookshelf scanning with AI-powered book detection
- name: Books
  description: Book search and metadata lookup
- name: Admin
  description: Administrative endpoints for metrics and monitoring (requires X-Admin-Token)
paths:
  /v3/jobs/scans:
    post:
      tags:
      - Scans
      summary: Scan bookshelf photos
      description: 'Upload exactly one photo. Talaria stores those bytes and sends them unchanged to Gemini.
        It does not resize, rotate, filter, or re-encode.


        Accepted file: one JPEG or PNG, checked by magic bytes, under 10MB. Field name is photos[].


        For a readable shelf and boxes that land on the photo you see:

        - Upright pixels, aspect ratio unchanged. Bake the displayed orientation into the image and set
        the EXIF orientation tag to 1. Gemini does not reliably apply EXIF rotation, and this worker never
        rotates, so a stale tag shifts every box off the spine.

        - Long edge about 1920 pixels. This request does not set a media resolution, so Gemini uses its
        default high image budget (1120 tokens), which keeps about that size. A long edge near 1024 cuts
        titles off. A full 12MP frame (about 4032×3024) is downsampled by the model and the boxes get
        worse.

        - Do not contrast-stretch, denoise, or JPEG-encode a second time. The model uses spine color and
        small type, and it scores dark and blur itself.'
      operationId: createScanJob
      parameters:
      - name: X-Device-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Device UUID v4 for organizing scans
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - photos[]
              properties:
                photos[]:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 1
                  maxItems: 1
                  description: Exactly one upright JPEG or PNG under 10MB. Long edge about 1920px. Orientation
                    baked into the pixels (EXIF tag 1). No contrast, denoise, or second JPEG encode. Talaria
                    forwards these bytes to Gemini unchanged.
      responses:
        '202':
          description: Scan job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInitResponse'
        '400':
          description: Invalid request (missing photos, wrong format)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: File too large (photo >10MB)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v3/jobs/scans/{jobId}:
    get:
      tags:
      - Scans
      summary: Get scan job status
      description: Query current status of bookshelf scan job via polling (adaptive backoff recommended,
        max 1 request every 2 seconds).
      operationId: getScanJobStatus
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Job not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Scans
      summary: Cancel scan job
      description: Deletes the temporary scan photo from R2, then terminates the workflow. Returns 200
        when the instance is already finished. Stored results stay readable until they expire.
      operationId: cancelScanJob
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Job canceled and the scan photo deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Job not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v3/jobs/scans/{jobId}/results:
    get:
      tags:
      - Scans
      summary: Get scan job results
      description: Fetch detected books from completed scan job. Results include book metadata, confidence
        scores, bounding boxes, and enrichment data. Results cached in KV for 24 hours after completion.
        Use ?format=lite for App Clip minimal response (excludes boundingBox).
      operationId: getScanJobResults
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - full
          - lite
        description: 'Response format: full (default) or lite (App Clip)'
      responses:
        '200':
          description: Job results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResultsResponse'
        '404':
          description: Job not found or not completed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v3/books/search:
    get:
      tags:
      - Books
      summary: Search for a book
      description: Search for a book by title, author, ISBN, or any combination. Returns single best match
        with corrected metadata, cover URL, and ISBN.
      operationId: searchBook
      parameters:
      - name: X-Device-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Device UUID v4 for authentication
      - name: isbn
        in: query
        required: false
        schema:
          type: string
        description: ISBN-10 or ISBN-13
      - name: title
        in: query
        required: false
        schema:
          type: string
        description: Book title (partial or full)
      - name: author
        in: query
        required: false
        schema:
          type: string
        description: Author name (partial or full)
      responses:
        '200':
          description: Book found
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                - data
                - metadata
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/BookSearchResult'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
        '400':
          description: Missing search parameters (at least one of isbn, title, author required)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or missing X-Device-ID)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No matching book found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v3/admin/metrics:
    get:
      tags:
      - Admin
      summary: Get aggregated metrics for Grafana
      description: Returns aggregated metrics from Analytics Engine datasets including scan performance,
        cache efficiency, abuse patterns, and cost attribution. Requires X-Admin-Token authentication.
        Rate limited to 10 requests per minute.
      operationId: getAdminMetrics
      parameters:
      - name: X-Admin-Token
        in: header
        required: true
        schema:
          type: string
        description: Admin authentication token
      - name: hours
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 168
          default: 24
        description: 'Time window in hours (default: 24, max: 168 for 7 days)'
      responses:
        '200':
          description: Aggregated metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMetricsResponse'
        '401':
          description: Unauthorized - invalid or missing X-Admin-Token
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded (10 req/min)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      description: RFC 9457 Problem Details error response
      required:
      - success
      - type
      - title
      - status
      - detail
      properties:
        success:
          type: boolean
          enum:
          - false
          description: Always false for errors (iOS client compatibility)
        type:
          type: string
          format: uri
          description: URI reference identifying the problem type
          example: https://api.oooefam.net/errors/rate-limit
        title:
          type: string
          description: Short, human-readable summary of the problem
          example: Rate Limit Exceeded
        status:
          type: integer
          description: HTTP status code
          minimum: 400
          maximum: 599
          example: 429
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
          example: You have exceeded the rate limit of 100 requests per minute
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence of the problem
          example: /v3/jobs/scans
        code:
          type: string
          description: Machine-readable error code
          example: RATE_LIMIT_EXCEEDED
        retryable:
          type: boolean
          description: Whether the client can retry this request
        retryAfterMs:
          type: integer
          description: Milliseconds to wait before retry
          minimum: 0
          example: 60000
        metadata:
          type: object
          description: Additional context about the error
          properties:
            timestamp:
              type: string
              format: date-time
            requestId:
              type: string
          additionalProperties: true
    ResponseMetadata:
      type: object
      required:
      - timestamp
      properties:
        timestamp:
          type: string
          format: date-time
        requestId:
          type: string
        cached:
          type: boolean
        processingTime:
          type: integer
          description: Request processing time in milliseconds
        truncated:
          type: boolean
          description: True when Gemini returned a partial shelf
    JobInitResponse:
      type: object
      required:
      - success
      - data
      - metadata
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
          - jobId
          - status
          properties:
            jobId:
              type: string
              format: uuid
              description: Unique job identifier
            status:
              type: string
              enum:
              - queued
              - processing
              - completed
              - failed
              - canceled
              description: Initial job status (always 'queued')
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
    JobStatusResponse:
      type: object
      required:
      - success
      - data
      - metadata
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
          - jobId
          - status
          - progress
          - processedCount
          - totalCount
          properties:
            jobId:
              type: string
              format: uuid
            type:
              type: string
              enum:
              - bookshelf_scan
              description: Job type
            status:
              type: string
              enum:
              - queued
              - processing
              - completed
              - failed
              - canceled
              description: Current job status
            progress:
              type: number
              minimum: 0
              maximum: 1
              description: Progress as decimal (0.0 to 1.0)
            processedCount:
              type: integer
              minimum: 0
              description: Books processed so far
            totalCount:
              type: integer
              minimum: 0
              description: Total books detected
            startTime:
              type: string
              format: date-time
              description: Job start timestamp
            completedTime:
              type: string
              format: date-time
              description: Job completion timestamp
            error:
              type: object
              properties:
                code:
                  type: string
                message:
                  type: string
                retryable:
                  type: boolean
                  description: Failed workflow instances are terminal
              description: Error details if job failed
            truncated:
              type: boolean
              description: True when the completed scan is a partial shelf
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
    JobResultsResponse:
      type: object
      required:
      - success
      - data
      - metadata
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
          - jobId
          - status
          - results
          properties:
            jobId:
              type: string
              format: uuid
            status:
              type: string
              enum:
              - completed
              description: Job status (only completed jobs have results)
            results:
              type: array
              items:
                $ref: '#/components/schemas/DetectedBook'
              description: Detected books with enrichment data
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
    DetectedBook:
      type: object
      required:
      - title
      properties:
        isbn:
          type: string
          description: ISBN-13 or ISBN-10 if detected
        title:
          type: string
          description: Book title
        author:
          type: string
          description: Primary author
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Detection confidence (0-1). Omitted when the model did not return a score.
        boundingBox:
          type: object
          description: Normalized bounding box for detected book spine (0.0-1.0 relative to image dimensions).
            Absent in lite format.
          properties:
            x:
              type: number
              minimum: 0
              maximum: 1
              description: Left edge (normalized)
            y:
              type: number
              minimum: 0
              maximum: 1
              description: Top edge (normalized)
            width:
              type: number
              minimum: 0
              maximum: 1
              description: Width (normalized)
            height:
              type: number
              minimum: 0
              maximum: 1
              description: Height (normalized)
        format:
          type: string
          enum:
          - hardcover
          - paperback
          - mass-market
          - e-book
          - audiobook
          - unknown
          description: Book format detected from spine
        coverUrl:
          type: string
          format: uri
          description: Cover image URL (hoisted from enrichment for client decoding)
        publisher:
          type: string
          description: Publisher name (hoisted from enrichment)
        publishedDate:
          type: string
          description: Publication date (hoisted from enrichment)
        authors:
          type: array
          items:
            type: string
          description: All author names (hoisted from enrichment)
        enrichmentStatus:
          type: string
          enum:
          - success
          - not_found
          - error
          - circuit_open
          - review_needed
          description: Top-level enrichment status. The results mapper always includes this field.
        enrichment:
          $ref: '#/components/schemas/BookEnrichment'
    BookEnrichment:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - not_found
          - error
          description: Enrichment status
        isbn13:
          type: string
          description: ISBN-13
        isbn10:
          type: string
          description: ISBN-10
        title:
          type: string
          description: Book title from the enrichment provider
        authors:
          type: array
          items:
            type: string
          description: List of authors
        publisher:
          type: string
          description: Publisher name
        publishedDate:
          type: string
          description: Publication date
        coverUrl:
          type: string
          format: uri
          description: Cover image URL
        binding:
          type: string
          description: Book binding (Hardcover, Paperback, etc.)
        cached:
          type: boolean
          description: Whether enrichment came from KV cache
        provider:
          type: string
          enum:
          - google_books
          - open_library
          description: Data source provider
    BookSearchResult:
      type: object
      required:
      - title
      - authors
      - source
      - confidence
      - fuzzyMatched
      properties:
        isbn:
          type: string
          description: ISBN-10 or ISBN-13
        isbn13:
          type: string
          description: ISBN-13 if available
        title:
          type: string
          description: Book title
        authors:
          type: array
          items:
            type: string
          description: List of authors
        publisher:
          type: string
          description: Publisher name
        publishedDate:
          type: string
          description: Publication date
        coverUrl:
          type: string
          format: uri
          description: Cover image URL
        source:
          type: string
          enum:
          - cache
          - google
          - fuzzy
          description: Data source
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Match confidence score (0-1)
        fuzzyMatched:
          type: boolean
          description: Whether result was found via fuzzy matching
    AdminMetricsResponse:
      type: object
      required:
      - success
      - data
      - metadata
      description: Aggregated metrics for Grafana dashboards (US-9.5)
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
          - period
          - scanPerformance
          - cacheEfficiency
          - abusePatterns
          - systemHealth
          - costAttribution
          properties:
            period:
              type: object
              required:
              - start
              - end
              - durationHours
              properties:
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
                durationHours:
                  type: integer
            scanPerformance:
              type: object
              required:
              - totalScans
              - successfulScans
              - failedScans
              - errorRate
              - latency
              - avgBooksPerScan
              properties:
                totalScans:
                  type: integer
                successfulScans:
                  type: integer
                failedScans:
                  type: integer
                errorRate:
                  type: number
                  minimum: 0
                  maximum: 1
                latency:
                  type: object
                  properties:
                    p50:
                      type: number
                    p95:
                      type: number
                    p99:
                      type: number
                    avg:
                      type: number
                avgBooksPerScan:
                  type: number
            cacheEfficiency:
              type: object
              required:
              - hitRatio
              - hits
              - misses
              - totalRequests
              - costSavings
              - alertLevel
              properties:
                hitRatio:
                  type: number
                  minimum: 0
                  maximum: 1
                hits:
                  type: integer
                misses:
                  type: integer
                totalRequests:
                  type: integer
                costSavings:
                  type: number
                alertLevel:
                  type: string
                  enum:
                  - ok
                  - warning
                  - critical
            abusePatterns:
              type: object
              required:
              - rateLimitViolations
              - highFrequencyWarnings
              - anomalousDevices
              - adminBypasses
              - activeDevices
              properties:
                rateLimitViolations:
                  type: integer
                highFrequencyWarnings:
                  type: integer
                anomalousDevices:
                  type: integer
                adminBypasses:
                  type: integer
                activeDevices:
                  type: integer
            systemHealth:
              type: object
              required:
              - status
              - alertCount
              - alerts
              properties:
                status:
                  type: string
                  enum:
                  - ok
                  - warning
                  - critical
                alertCount:
                  type: integer
                alerts:
                  type: object
                  properties:
                    critical:
                      type: integer
                    warning:
                      type: integer
            costAttribution:
              type: object
              required:
              - avgCostPerScan
              - totalCost
              - totalScans
              - prdTarget
              - withinTarget
              - complianceRate
              - scansOverBudget
              - avgGoogleBooksCallsPerScan
              - avgGeminiCallsPerScan
              - alertLevel
              properties:
                avgCostPerScan:
                  type: number
                totalCost:
                  type: number
                totalScans:
                  type: integer
                prdTarget:
                  type: number
                withinTarget:
                  type: boolean
                complianceRate:
                  type: number
                  minimum: 0
                  maximum: 1
                scansOverBudget:
                  type: integer
                avgGoogleBooksCallsPerScan:
                  type: number
                avgGeminiCallsPerScan:
                  type: number
                alertLevel:
                  type: string
                  enum:
                  - ok
                  - warning
                  - critical
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
